<html>
    <head>
        <link href="../../assets/style.css" type="text/css" rel="stylesheet">
    </head>
    <body class="news">
            <header>
              <div class="nav">
                <ul>
                  <li class="home"><a href="/">Home</a></li>
                  <li class="contact"><a href="./contact">Contact</a></li>
                  
                </ul>
              </div>
            </header>
    </body>
</html>



