<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Serving Html</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../assets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <% include partials/nav.ejs %>
    <h1>Contact us</h1>
    <p>Contact us for create best application</p>
    <div id="form-wrapper" style="text-align:center; vertical-align:middle">
    <form id="contact-form" method="POST" action="/contact">
        <label for="who">Who do you want to contact</label><br>
        <input type="text" name="who" value="<%= qs.who %>"><p>
        <label for="department">Which departemet?</label><br>
        <input type="text" name="department" value="<%= qs.department %>"><p>
        <label for="email">Your email</label><br>
        <input type="email" name="email"><p>
        <input type="submit" value="submit">
    </form>
    </div>
</body>

</html>