<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Serving Html</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../assets/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <% include partials/nav.ejs %>
    <h1>Welcome to the most awesome website on the internet</h1>
    <p>You won't find a website better anywhere else!</p>
</body>

</html>